<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </button>
      <button style="margin-left: 10px;" mat-raised-button color="accent" type="reset">Reset</button>
    </form>
  </div>
</div>